@import "tailwindcss";

:root{
    --primary-color: #f7f7f7;
    --seconday-color: #ffff;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
}